<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Countries Happiness Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
        <div class="container">
                <div class="row">
                        <div class="col-md-6">
                            <nav class="navbar navbar-inverse">
                                <div class="container-fluid">
                                <!-- <div class="navbar-header"> -->
                                    <ul class="nav navbar-nav">
                                        <li><a href="{{ url_for('home') }}">Home</a></li>
                                        <li><a href="{{ url_for('map') }}">Map</a></li>
                                        <li><a href="{{ url_for('sad') }}">Low10</a></li>
                                        <li><a href="{{ url_for('status') }}">Country Status</a></li>
                                        <li><a href="{{ url_for('happy') }}">Top10</a></li>
                                        <li class="active"><a href="{{ url_for('graph') }}">Metrics</a></li>
                                        <li><a href="{{ url_for('comparison') }}">Comparison</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>  
                    </div>
    <div id="plot"></div>
    <script src="static/data.js"></script>
    <script src="static/plots.js"></script> 
</body>
</html>