<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>World comparison: Happiness, Life Expectancy, & BMI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div class="container">
        <div class="row">
                <div class="col-md-6">
                    <h1>Country Status: Developed or Still Developing</h1>
                </div>
                <div class="col-md-6">
                    <nav class="navbar navbar-inverse">
                        <div class="container-fluid">
                        <!-- <div class="navbar-header"> -->
                            <ul class="nav navbar-nav">
                                <li><a href="{{ url_for('home') }}">Home</a></li>
                                <li><a href="{{ url_for('map') }}">Map</a></li>
                                <li><a href="{{ url_for('sad') }}">Low10</a></li>
                                <li class="active"><a href="{{ url_for('status') }}">Country Status</a></li>
                                <li><a href="{{ url_for('happy') }}">Top10</a></li>
                                <li><a href="{{ url_for('graph') }}">Metrics</a></li>
                                <li><a href="{{ url_for('comparison') }}">Comparison</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>  
            </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Does the develop status of a country affect happiness?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="static/images/country_status_comparison.png" width="500" height="500">
        </div>
    </div> 
    <div class="row"> 
            <div class="col-md-6">
            <strong><p>
Happiness scores have a minimal difference but bmi and life expectancy are significantly lower in developing countries.
            </div>
        </div>
</div>
</body>
</html>